<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AboutAppText</key>
	<string>«واژگان» یه فرهنگ لغته. با استفاده از این نرم‌افزار می‌تونین خیلی راحت، معنی کلمات مورد نظرتون رو توی فرهنگ لغت‌های مختلف ببینین. البته باید این نکته رو هم بگیم که این نرم‌افزار تماما داره از پایگاه داده‌ها و واسط برنامه‌نویسی «واژیاب» استفاده می‌کنه؛ دم‌شون گرم!! 😂

همچنین برای راحتی بیشتر، می‌تونین توی نرم‌افزارهای دیگه، کلمه مورد نظرتون رو انتخاب کنین، گزینه Share رو بزنین و بعد «واژگان» رو انتخاب کنین، تا بدون اینکه از نرم‌افزار فعلی‌تون خارج بشین، معنی کلمه براتون نمایش داده بشه. 😉😎</string>
	<key>AboutUsText</key>
	<string>ما یه تیم خوب و با انرژی هستیم که کارای کوچک و بزرگ انجام دادیم/می‌دیم/خواهیم‌داد. 😁
برای آشنایی بیشتر با ما، از وبسایت «طراحی بدون مرز» دیدن کنین.</string>
	<key>ILoveOpenSourceText</key>
	<string>این پروژه، پروژه خیلی کوچیکیه، ولی ممکنه برای بعضی از نظر یادگیری مفید باشه. (امیدوارم باشه! 😅)
برای همین پروژه رو تماما بصورت متن‌باز روی گیت‌هاب منتشر کردم تا همه بتونن کدهاش رو ببینن، و اگه ایرادی داشت بهم بگن تا کدنویسی‌ام رو بهبود بدم. </string>
</dict>
</plist>
