<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>About_App</key>
	<string>این یه برنامه ساده‌ست برای جستجو و دیدن سریع معنی واژگان. البته قرار نیست همیشه همینقدر ساده بمونه! میخوایم در آینده قابلیت‌های مفیدی بهش اضافه کنیم. پس نگهش دارین!! :)</string>
	<key>About_Company</key>
	<string>این شرکت توسط چندتا جوون با استعداد و خوش فکر ایجاد شده، تا با کمک همدیگه بتونن محصولات خوبی آماده کنن. برای آشنا شدن باهاشون و اطلاع پیدا کردن از محصولات و نرم‌افزارهایی که تولید کردن، میتونین از وبسایت ما دیدن کنین.</string>
	<key>Result_Section_Meaning</key>
	<string>معنی</string>
	<key>Result_Section_Word</key>
	<string></string>
	<key>Result_Section_Synonim</key>
	<string>مترادف و متضاد</string>
	<key>Result_Section_Parsi</key>
	<string>برابر پارسی</string>
	<key>Result_Section_Verb</key>
	<string>فعل</string>
	<key>Result_Section_Info</key>
	<string>ویژگی‌های کلمه</string>
	<key>Header_HasError</key>
	<string>خطا رخ داده</string>
	<key>Header_Result</key>
	<string>%@ نتیجه داشت</string>
	<key>Header_NoResult</key>
	<string>بدون نتیجه</string>
	<key>Header_Waiting</key>
	<string>دارم می‌گردم...</string>
	<key>Request_Type_text</key>
	<string>واژگان در معانی</string>
	<key>Request_Type_ava</key>
	<string>واژگان هم‌آوا</string>
	<key>Request_Type_like</key>
	<string>واژگان مشابه</string>
	<key>Request_Type_exact</key>
	<string>واژگان دقیق</string>
	<key>Result_Message_NoResult</key>
	<string>عجب کلمه‌ای! هیچ نتیجه‌ای براش پیدا نشد!</string>
	<key>Result_Message_Error_1</key>
	<string> خطای خفنی سمت سرویس دهنده رخ داده! چند دقیقه بعد، دوباره امتحان کنین...</string>
	<key>Result_Message_Error_0</key>
	<string>یا درخواست ارسالی معتبر نیست، یا پاسخ دریافتی!!!</string>
	<key>Result_Message_Unknown</key>
	<string>خطای نامشخصی رخ داد. یکم وقت بعد، دوباره امتحان کنین...</string>
	<key>Result_Message_Ready</key>
	<string>کلمه مورد نظرتون رو تایپ کنین و بینگ!</string>
</dict>
</plist>
